@import '../variables.css';

.Input {
	background: #ffffff;
	border: 1px solid #ffffff;
	border-radius: 3px;
	box-sizing: border-box;

	display: flex;
	align-items: center;
	flex-grow: 0;
	width: 100%;

	input {
		appearance: none;
		border: none;
		outline: none;
		background: none;
		font-family: $font-family;

		width: 100%;
		height: $input-height;

		font-size: 1rem;
		font-weight: 300;
		color: $text-color-dark;

		&:focus, &:active {
			border: none;
			outline: none;
		}
	}

	/* Position the icon on the left side of the input */
	i {
		height: $input-height;
		width: $input-height;

		display: flex;
		flex-shrink: 0;
		flex-basis: $input-height;
		align-items: center;
		justify-content: center;
	} 

	i svg {
		height: 24px;

		path {
			stroke: $text-color-dark;
		}
	}
}

.Input.Error {

	input.Error {
		color: $text-color-error;
		animation: shake 0.5s linear;
	}

	i svg {
		path {
			stroke: transparent;
			fill: $text-color-error;
		}
	}
}

@keyframes shake {
    8%, 41% { transform: translateX(-10px); }
    25%, 58% { transform: translateX(10px); }
    75% { transform: translateX(-5px); }
    92% { transform: translateX(5px); }
    0%, 100% { transform: translateX(0); }
}