/* Fonts */
$font-family: "Avenir", helvetica, sans-serif;

/* Colors */
$text-color-light: #ffffff;
$text-color-light-secondary: color($text-color-light a(70%));
$text-color-dark: #555555;
$background-color: #00AB6B;

/* Spacing */
$space: 24px;

/* Animation */
$animation-duration: 200ms;