@import '../variables.css';
@import '../mixins.css';

.contribution-page {
	
	.contribution-buttons {
		display: flex;
		justify-content: center;
		align-items: center;

		margin-top: $space;
	}

	.contribution-button {
		margin-right: $space;

		&:last-child {
			margin-right: 0;
		}
	}




}