@import '../variables.css';
@import '../mixins.css';

.landing-page {

	/* &> *:not(.world-map):not(.Footer) {
		position: relative;
		z-index: 1;
	} */

	h1 {
		padding-top: $space;
	}

	.contribute-button {
		width: 100%;
		margin-top: $space;
	}

	.Footer {
		flex-direction: column;
	}

	$size: 24px;
	i {
		margin-top: calc($space / 3);
		height: $size;
		width: $size;
	}

	path {
		fill: $text-color-light;
	}
}

