@import '../variables.css';
@import '../mixins.css';

.thanks-page {
	.share-buttons {
		display: flex;
		justify-content: center;
		align-items: center;

		margin-top: $space;
		margin-bottom: $space;
	}

	.share-button {
		margin-right: $space;

		&:last-child {
			margin-right: 0;
		}
	}

	.another-donation-button {
		margin-top: calc($space / 2);

		text-transform: none;
		letter-spacing: 0px;	
	}
}